    <footer class="bg-dark fixed-bottom">
        <p class="text-light text-center mb-0 py-2">
            Copyright
            <%= new Date().getFullYear() %>
            &copy; Marzuk Zarir
        </p>
    </footer>
    </body>
</html>